{% extends "base.html" %}
{% block body %}
    <h1>stock<small>RSS</small></h1>
    <p>This is Steve's web page. </p>
    <p>Just try clicking on things to the left, you have to log in though.
    Do you think you have access?</p>
    <ul>
    	<li>Lorem ipsum dolor sit amet</li>
    	<li>Consectetur adipiscing elit</li>
    	<li>Integer molestie lorem at massa</li>
    	<li>Facilisis in pretium nisl aliquet</li>
    	<li>Nulla volutpat aliquam velit</li>
    	<li>Faucibus porta lacus fringilla vel</li>
    </ul>

    <table class="table table-striped">
	  <caption>First Name</caption>
	  <thead>
	    <tr>
	      <th>Fred</th>
	      <th>Bob</th>
	      <th>Alex</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>Williams</td>
	      <td>Smith</td>
	      <td>Roberts</td>
	    </tr>
	  </tbody>
	</table>

	<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="inputEmail">Email</label>
    <div class="controls">
      <input type="text" id="inputEmail" placeholder="Email">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputPassword">Password</label>
    <div class="controls">
      <input type="password" id="inputPassword" placeholder="Password">
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox"> Remember me
      </label>
      <button type="submit" class="btn">Sign in</button>
    </div>
  </div>
</form>

<p>
  <button class="btn btn-large btn-primary" type="button">Large button</button>
  <button class="btn btn-large" type="button">Large button</button>
</p>
<p>
  <button class="btn btn-primary" type="button">Default button</button>
  <button class="btn" type="button">Default button</button>
</p>
<p>
  <button class="btn btn-small btn-primary" type="button">Small button</button>
  <button class="btn btn-small" type="button">Small button</button>
</p>
<p>
  <button class="btn btn-mini btn-primary" type="button">Mini button</button>
  <button class="btn btn-mini" type="button">Mini button</button>
</p>

<ul class="nav nav-list">
  <li class="active"><a href="#"><i class="icon-home icon-white"></i> Home</a></li>
  <li><a href="#"><i class="icon-book"></i> Library</a></li>
  <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
  <li><a href="#"><i class="i"></i> Misc</a></li>
</ul>


<a class="twitter-timeline" href="https://twitter.com/steveablank/tech" data-widget-id="405914450592403456">Tweets from https://twitter.com/steveablank/tech</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


<ul class="nav nav-list">
  ...
  <li class="divider"></li>
  ...
</ul>

<ul class="nav nav-list">
  <li class="nav-header">List header</li>
  <li class="active"><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  ...
</ul>

{% endblock %}
